$color_stowrites    : #002a44;

$color_plotting     : #9CCC65;
$color_writing      : #65c7cc;
$color_proofreading : #5d8cf9;
$color_completion   : #FDD835;
$color_freezing     : #b3cfda;

$color_attention    : #f06275;

body {
  color: #263238;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  line-height: 1.7;
}
